@charset "utf-8";
/* 
- Fix floating nav to be direct links 
- 1 font & 2 column media queries 

*/

/*-------------------------------------->
Local Utils 
<--------------------------------------*/

.container {
	width: min(100% - 30px, 1100px);
	margin-inline: auto;
}

.block {
	display: block;
}

.visible {
	transform: translateY(0);
}

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden {
	opacity: 0;
	display: none;
}

/*-------------------------------------->
Roots and Resets
<--------------------------------------*/

/*				One is closest 				*/
:root {
	--app-layer-one: #012;
	--app-layer-two: #123;
	--app-layer-three: #234;
	--app-layer-four: #345;
	--app-bg-clr: #404;

}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

body {
	background-color: var(--app-layer-one);
	overflow-x: hidden;
	color: #fefefe;
	font-family: "Poppins", Arial, sans-serif;
}

p {
	font-size: 1.6rem;
	color: var(--app-layer-one);

	a {
		font-weight: 500;
		padding: 25px;
		border-radius: 50px;
		background-color: rgb(240 240 240 / 0);
		transition: all 0.75s ease-in;
		line-height: 100px;
	}

	a:hover {
		background-color: rgb(240 240 240 / 0.4);
	}
}

h1 {
	width: 100%;
	font-size: 6rem;
	font-weight: 500;
	text-align: center;
	margin-top: 50px;
	z-index: 10;
	color: #fefefe;
}

/*-------------------------------------->
HERO BANNER 
<--------------------------------------*/

.title-wrapper {
	width: 100%;
	height: 150px; 
	text-align: center;
}

h1 {
	line-height: 150px;
}

.nightsky { 
	position: relative;
	height: 400px;
	width: 100%;
	background: #fff url('../img/nightsky.jpg') no-repeat top left;
	background-attachment: fixed;
	background-size: cover;
	z-index: -2000;
}

main {
	padding: 25px;
  column-count: 3;
  column-gap: 25px; 
	background-color: rgb(2 4 8 / 0.1);
	backdrop-filter: blur(5px);

	img {
  width: 100%; 
  margin-bottom: 25px; 
	}
}

/* nav {
	width: 100%;
	height: 150px;
	line-height: 150px;
	padding: 20px;
	font-size: 3rem;
	color: #fefefe;
	position: absolute;
	top: -130px;
	transform: translateY(100px);
	z-index: 300;
	animation-name: navBar;
	animation-timeline: scroll();
	animation-duration: 1s; 


	ul {
		height: 100px;
		width: 100%;
		justify-content: space-between;
	}

	li {
		text-align: center;
		color: #fefefe;
		font-size: 3rem;
		height: 100px;
		width: 100px;
		line-height: 100px;
		background-color: #456;
	}
}
 */


@keyframes navBar {
	0% {
		transform: translateY(9svw);
	}
	100% {
		transform: translateY(0);
	}
}

