@charset "utf-8";

html{
    font-family:"poppins", "inter", sans-serif;
}

:root{
    --app-base-dark: #181818;
    --app-base-darker: #141414;
    --app-base-darkest: #111;
    --app-window-lit: rgb(238, 209, 46);
    --app-bg-light: rgb(245 250 255);
    --app-window-1-gradient: linear-gradient(rgb(32 16 64), rgb(34 12 56));
    --app-primary-color: #323081;
    --app-secondary-color: #cc6704;
    --app-border-radius: 8px;
}

body {
    background-color: rgb(17, 6, 39);
}


.title-button {
    width: 600px;
    height: 100%;
    padding-top: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    justify-content: right;
    align-items: center;
    text-align: center;
}


h1 {
    width: auto; 
    height: auto;
    font-family: "Fredericka the Great", serif;
    font-size: 110px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 1.2; 
}


.cityscape {
    height: 100svh;     width: 100%; 
    background-attachment: fixed;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 10;
}

.one, .six {
    height: 80svh;
    width: 200px;

    background-image: var(--app-window-1-gradient);
    transition: all 1s;

    table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }

    td {
        border: 25px  solid var(--app-base-dark);
        border-bottom: 50px  solid var(--app-base-dark);
        padding: 8px;
    }
}

    .one.active, .six.active {
        box-shadow: inset 0 80svh var(--app-window-lit);
    }

.two, .five {
    height: 70svh;
    width: 125px;
    background-image: var(--app-window-1-gradient);
    transition: all 1s;

    table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }
    
    td {
        border: 20px  solid var(--app-base-darker);
        border-bottom: 55px  solid var(--app-base-darker);
        padding: 8px;
    }
}
   .two.active, .five.active {
        box-shadow: inset 0 70svh var(--app-window-lit);
    }
    
.three, .four {
    height: 60svh;
    width: 75px;
    background-image: var(--app-window-1-gradient);
    transition: all 1s;

    table {
        height: 100%;
        width: 100%;
        border-collapse: collapse;
    }
    
    td {
        border: 15px  solid var(--app-base-darkest);
        border-bottom: 60px  solid var(--app-base-darkest);
        padding: 8px;
    }
}

    .three.active, .four.active {
        box-shadow: inset 0 70svh var(--app-window-lit);
    }    

.horizon {
    height: 160px; 
    margin: 0 20px;
    background-color: #ec9a00;
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    width: calc(100% - 400px - 250px - 150px - 40px);
    transition: all 1s ease;
}
    .horizon.active {
        height: 0px;
        border-radius: 0;
    }

article { 
    height: 100svh;     width: 100%;
    background: #fff url("../img/unreal-city-15.jpg") no-repeat center center;
    background-size:cover;
    position: relative;
    z-index: -10;
    backdrop-filter: blur(100px);
    overflow: visible;

    &::before {
        content: "";
        background-color: rgb(255 255 255 / 0.1);
        backdrop-filter: blur(10px);
        background-size: cover; 
        background-position: center; 
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        z-index: 100;
    }
}

 .photo-display {
    background: #fff url("../img/city-wall.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    right: 0;
    column-count: 3; 
    column-gap: 30px;
    column-width: 300px;
    padding: 20px;


    img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
        margin-bottom: 30px;
        border-radius: 8px;
      }
 }