@charset "utf-8";


.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.spacer {
    height: 500px; 
    width: 100%;
}

.flex {
    display: flex;
}
.f-col {
    flex-direction: column;
}

.f-row {
        flex-direction: row;
}

.f-grow {
    flex: 1;
}

.f-shrink {
    flex: 0;
}

/*
    Opacity 
*/

.op-10 {
    opacity: 0.1;
}

.op-20 {
    opacity: 0.2;
}

.op-30 {
    opacity: 0.3;
}

.op-40 {
    opacity: 0.4;
}

.op-50 {
    opacity: 0.5;
}

.op-60 {
    opacity: 0.6;
}

.op-70 {
    opacity: 0.7;
}

.op-80 {
    opacity: 0.8;
}

.op-90 {
    opacity: 0.9; 
}



:root{
    --app-base-dark: #181818;
    --app-base-darker: #141414;
    --app-base-darkest: #111;
    --app-window-lit: rgb(238, 209, 46);
    --app-bg-light: rgb(245 250 255);
    --app-window-1-gradient: linear-gradient(rgb(32 16 64), rgb(34 12 56));
    --app-primary-color: #323081;
    --app-secondary-color: #cc6704;
    --app-border-radius: 8px;
}

.ease-slow {
    transition: all 1s ease-in-out;
}

.ease-med {
    transition: all 0.6s ease-in-out;
}

.ease-quick {
    transition: all 0.3s ease-in-out;
}

.cursor-pointer {
    cursor: pointer;
}


/*
.opacity (10,...100) 
width/height 100%

hint of shadow 




*/