@charset "utf-8";

/*------------------------------->
        Essential
<--------------------------------*/

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

/*------------------------------->
Disposable ***discard after use***
<--------------------------------*/

.spacer {
    height:500px; 
    width: 100%;
}

/* Aspect ratios */ 
/*------------------------------->
        Roots        
<--------------------------------*/


/*------------------------------->
        Fonts
<--------------------------------*/


/*------------------------------->
        Flex
<--------------------------------*/

.flex {
    display: flex;
}
.f-col {
    flex-direction: column;
}

.f-row {
        flex-direction: row;
}

.f-grow {
    flex: 1;
}

.f-shrink {
    flex: 0;
}

/*------------------------------->
        Opacity
<--------------------------------*/

.op-10 {
    opacity: 0.1;
}

.op-20 {
    opacity: 0.2;
}

.op-30 {
    opacity: 0.3;
}

.op-40 {
    opacity: 0.4;
}

.op-50 {
    opacity: 0.5;
}

.op-60 {
    opacity: 0.6;
}

.op-70 {
    opacity: 0.7;
}

.op-80 {
    opacity: 0.8;
}

.op-90 {
    opacity: 0.9; 
}

/*------------------------------->
       Margins 
<--------------------------------*/

.mar-10 {
    margin: 10px;
}

.mar-25 {
    margin: 25px;
}

.mar-50 {
    margin: 50px;
}
.mar-100 {
    margin: 100px;
}

.mar-200 {
    margin: 200px;
}

/*------------------------------->
      Padding  
<--------------------------------*/

.pad-10 {
    padding: 10px;
}

.pad-25 {
    padding: 25px;
}

.pad-50 {
    padding: 50px;
}

.pad-100 {
    padding: 100px;
}

.pad-200 {
    padding: 200px;
}

/*------------------------------->
        Transitions 
<--------------------------------*/

.ease-slow {
    transition: all 1s ease-in-out;
}

.ease-med {
    transition: all 0.6s ease-in-out;
}

.ease-quick {
    transition: all 0.3s ease-in-out;
}
/*
.visible {
    display: visible;
    opacity: 1;
}
*//*
.hidden {
    display: hidden;
    opacity: 0;
}
*/

/*------------------------------->
        Misc.
<--------------------------------*/

.circle {
    border-radius: 50%;
}

.cursor-pointer {
    cursor: pointer;
}


.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}
